@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: linear-gradient(to top, #222130, #000000);
    color: #07c972;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}

header{
    font-family: sans-serif;
    height: 60px;
    display: flex;
    align-items: center ;
    color: #07c972;
}
h1{
    margin: auto;
}

h1, div.search-box{
    padding: 10px;
}

p{
   text-align: center;
}

a{
   color: #07c972;
   padding: 10px;
   border-radius: 10px;
   text-decoration: none;
 }

header>a{
   margin: auto;
}

 /*
 a:hover{
   background-color: #07c972;
   color: #222130;
   transition: .5s;
 }
 */

/*.search-box{
    background: #07c972;
    height: 30px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}

.search-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #07c972;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

::-webkit-input-placeholder{
    color: rgb(0, 0, 0);
}

 .search-box:hover > .search-txt{
     width: 240px;
     padding: 0.6px;
 }

 .search-box:hover > .search-btn{
    background: #fff;
 }
 barra de pesquisa
*/

/*
 div>a{
   text-decoration: none;
 }
 
 div > p{
    display: none;
 }
 div:hover > p{
    display: block;
    padding-bottom: 10px;
    background-color: #000000;
    transform: translateY(30px);
 }

*/


 /*img{
    height: 500px;
    width: 900px;
 }*/
/*
 .content {
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
 }

 .navigation{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
 }

 .bar{
    min-width: 30px;
    max-width: 70px;
    min-height: 10px;
    max-height: 20px;
    border: 2px solid #000000;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
 }

 .bar:hover{
    background-color: #222130;
 }
 input{
    display: none;
 }
 .slides{
    display: flex;
    width: 500%;
    height: 100%;
 }
 .slide{
    width: 20%;
    transition: .6s;
 }
 .slide img{
     width: 100%;
     height: 100%;
 }
 #slide1:checked ~ .s1 {
    margin-left: 0;
 }
 #slide2:checked ~ .s1 {
    margin-left: -20%;
 }
 #slide3:checked ~ .s1 {
    margin-left: -40%;
 }
 #slide4:checked ~ .s1 {
    margin-left: -60%;
 }
 */

 /*
 .retangulo{
   max-width: 850px;
   min-width: 300px;
   margin: auto;
 }

 .quadrado{
   margin-top: 10px;
   display: inline-flex;
 }
 
 .imagem{
   padding: 3px;
   max-width: 450px;
   max-height: 450px;
   max-width: 100%;
   border-radius: 5px;
 }
  
 .imagem:hover{
   transition-duration: 1s;
   border-radius: 15px;
 }
*/

/*

sistema antigo

nav{
   background-color: #222130;
   min-width: 320px;
   max-width: 600px;
   height: 25px;
   margin: auto;
   padding: 10px 20px 20px 0px;
   border-radius: 0px 0px 5px 5px;
   display: flex;
}


.tipos{
   margin: auto;
   text-align: center;
   display: inline-block;
   background-color: #000000;
   padding: 10px 10px 10px 10px;
   border-radius: 10px 10px 10px 10px;
   text-decoration: none;
}

.retangulo{
   max-width: 850px;
   min-width: 300px;
   display: flex;
   margin: auto;
 }
 .quadrado{
   display: flex;
 }
 .imagem{
   padding: 3px;
   max-width: 450px;
   max-height: 450px;
   max-width: 100%;
   border-radius: 4px;
 }
*/

nav{
   max-width: 800px;
   min-width: 320px;
   margin: auto;
   text-align: center;
}
.tipos{
  padding: 30px;
  border-radius: 50px;
  margin: 30px;
  border: 2px solid #07c972;
}

.tamanhodaimagem>img{
   width: 20px;
}
h1>img{
   width: 40px;
}